body{
    /* background:url('../image/pictwo.jpg');
    background-size:contain;
    background-repeat: no-repeat; */
    /* background-color: lightgreen; */
    /* background:linear-gradient(to right,red,blue); */
    background: linear-gradient(to right, #e66465, #9198e5);
    
}
.wrapper{
    display:grid;
    /* background-color:red; */
    justify-content:space-around;
    grid-template-columns: minmax(auto, 200px) minmax(auto ,400px);
    grid-template-rows:auto;
    grid-auto-rows: 180px;
    grid-gap:1em;
    /* grid-template-columns:minmax(10%, 0.5fr); */
    /* background-color:red; */
    margin-top: 50px;
}   
/* .wrapper > div{ */
    /* border:2px solid black; */
    /* background-color:white; */
    /* text-align:center; */

/* }  */
.item1{
    margin-top:250px;
    /* background-color:blue; */
    height:40px;
}
.item2{
    background-color: white;
    border-radius:10px;
}
#title1{
    font-size:36px;
    color:#f4f4f4;
    
    /* font-family:'Raleway', sans-serif; */
    font-family: 'Sacramento', cursive;
}
@media only screen and (max-width:1000px){
    .wrapper{
        grid-template-columns: minmax(100px, 200px) minmax(auto ,100px);    
    }
    .item2{
        grid-row:1;
        grid-column:1/3;
    }
    .item1{
        grid-row:1;
        grid-column:1;
        /* margin-top:10px; */
        z-index:1;
        /* margin-left:65px; */
        margin:0px 0px 8px;
        padding:20px 0px 0px 56px ;
    }
    #title1{
        font-family: 'Varela Round', sans-serif;
        font-size:14px;
        color:#505050;
    }
    h1 > img{
        width:16px;
        height:16px;
    }
    .details{
        padding:24px 56px 40px;
    }
    
}
@media only screen and (max-width:600px){
    body{
        background-color:red;
    }
}

.details{
    display:block;
    /* margin:auto; */
    /* width:80%; */
    padding:40px 56px;
    /* background-color:lightblue; */
}
label{
    display:block;
    /* padding-top:20px; */
    font-size:12px;
    color:#747474;
}
input:not(#click){
    width:100%;
    /* padding:10px; */
    border:none;
    margin:0px 0px 20px;
    /* border-radius:5px; */
    outline:none;
    border-bottom:1px solid #ebe9e9;
}
button{
    display: block;
    margin:10px;
    outline:none;
    border:none;
    padding:10px;
    width:15em;
    font-size:13px;
    font-weight:600;
    background-color:#009688;
    color:white;
    border-radius:5px;
}
#click:hover{
    background-color:#0ab1a0;
    transition: 0.5s;
}
input:focus:not(#click){
    border-bottom:1px solid blue;
}
input:hover:not(#click){
    border-bottom:1px solid #000000;
}
/* h3{
    
    background-color:blue;
} */
img{
    width:35px;
    height:35px;
    margin-right:8px;
}
.links{
    display:block;
    /* margin-left:10px; */
    padding-bottom:20px;
    width:280px;
    /* background-color:blue; */
}
i{
    
    padding-right:20px;
    font-size:40px;
    /* background-color:red; */
}
.links > i:hover{
    color:blue;
}
#title, h3,#click{
    font-family: 'Varela Round', sans-serif;
}
label{
    font-family: 'Montserrat', sans-serif;
}
#color-title{
    background-color:hsl(171, 100%, 41%);
    /* width:100px; */
    font-size:23px;
    font-family: 'Fredoka One', cursive;
}
form{
    border-bottom:1px solid lightgrey;
    /* background-color:blue; */
    /* background-size:100% 100%; */
}
#title{
    font-size:20px;
}

#click > i{
    font-size:10px;
    padding-left:10px;
    /* padding-top:0px; */
    /* background-color:blue; */
}
.links > i{
    display:block;
    border:1px solid rgb(207, 204, 204);
    margin-top:10px;
    border-radius:20px;
    text-align:center;
    /* background:linear-gradient(to right, #e66465, #9198e5); */
}
p{
    font-size:14px;
    color:#959595;
    font-family: 'Source Sans Pro', sans-serif;
}
p > a{
    padding-left:4px;
}
a{
    text-decoration:none;
    color:blue;
}
a:hover{
    text-decoration:underline;
}




